@font-face{
  font-family:'digital'; 
  src: url('./digital-7.ttf');
}

body{
 background:rgb(22, 22, 22);
}


h1{
 text-align:center;
 color:#1de98a;
  font-family:digital;
   font-size:10rem;
  letter-spacing: .5rem; 
  filter: drop-shadow(0 0 16px #1de98a8f);
}